

.plan-section {
  @apply min-w-[310px];
  @apply sm:h-[297px];
  @apply lg:min-w-[464px];
  @apply lg:h-[384px];
  @apply dark:border-ia-gray-1;
  @apply flex;
  @apply flex-col;
  @apply text-ia-aqua-1;
  @apply border-ia-aqua-4;
  @apply justify-center;
  @apply border;
  @apply items-center;
  @apply p-4;
  @apply md:p-7;
  @apply grow;
  @apply basis-0;
}

.plan-section__container {
  @apply flex;
  @apply flex-col;
  @apply justify-between;
  @apply items-center;
  @apply h-full;
  @apply gap-y-3.5;
  @apply sm:gap-y-5;
}

.plan-section__header {
  @apply flex;
  @apply flex-row-reverse;
  @apply gap-x-3.5;
  @apply w-full;
  @apply place-content-start;
  @apply lg:place-content-end;
  @apply items-center;
  @apply lg:flex-col;
  @apply lg:gap-y-3;
  @apply border-b-2;
  @apply border-b-ia-aqua-4;
  @apply dark:border-b-ia-gray-1;
  @apply border-dotted;
  @apply py-1;
  @apply md:h-28;
  @apply lg:h-32;
  @apply lg:pb-7;
  @apply shrink-0;
}

.plan-section__premium-badge {
  @apply bg-ia-yellow-1;
  @apply h-6;
  @apply dark:bg-ia-aqua-2;
  @apply rounded-md;
  @apply border-ia-aqua-4;
  @apply border;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply px-3;
  @apply dark:border-ia-gray-1;
}

.plan-section__premium-text {
  @apply text-ia-aqua-4;
  @apply dark:text-ia-yellow-1;
  @apply text-xs;
  font-family: var(--font-imb-plex-sans);
  font-weight: 600;
}

.plan-section__title {
  @apply text-ia-aqua-4;
  @apply dark:text-ia-white-1;
  @apply text-3xl;
  @apply md:text-4xl;
  @apply lg:text-5xl;
  @apply text-left;
  @apply leading-tight;
  font-family: var(--font-space-grotesk);
  font-weight: 700;
}

.plan-section__description {
  @apply text-ia-aqua-4;
  @apply text-left;
  @apply text-sm;
  @apply lg:text-lg;
  @apply dark:text-ia-white-1;
  @apply grow;
  font-family: var(--font-imb-plex-sans);
  font-weight: 300;
}

.plan-section__button-container {
  @apply w-full;
  @apply shrink-0;
  @apply flex;
  @apply justify-center;
}

.plan-section__button {
  @apply text-base;
  @apply text-ia-white-1;
  @apply dark:active:text-ia-aqua-1;
  @apply bg-ia-aqua-1;
  @apply rounded-full;
  @apply h-11;
  @apply hover:border;
  @apply hover:shadow-inner-button;
  @apply hover:shadow-ia-aqua-4;
  @apply dark:hover:shadow-ia-white-1;
  @apply border-ia-aqua-4;
  @apply dark:hover:border-ia-white-1;
  @apply active:bg-ia-aqua-4;
  @apply dark:active:bg-ia-white-1;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply w-full;
  @apply sm:w-1/2;
  font-family: var(--font-imb-plex-sans);
  font-weight: 600;
}

.home-categories__container {
  @apply flex;
  @apply flex-col;
  @apply gap-y-5;
  @apply items-center;
  @apply lg:flex-row;
  @apply lg:justify-between;
  @apply lg:gap-x-7;
  @apply mt-8;
}
