

.student-faq {
  @apply w-full;
  @apply max-w-3xl;
  @apply mx-auto;
  @apply space-y-4;
}

.student-faq__section {
  @apply relative;
  @apply w-full;
  @apply py-16;
  @apply px-4;
}

.student-faq__header {
  @apply relative;
  @apply w-full;
  @apply max-w-3xl;
  @apply mx-auto;
  @apply mb-8;
  @apply border-t;
  @apply border-[#007474];
  @apply border-opacity-20;
  @apply pt-8;
}

.student-faq__subtitle {
  @apply text-[#007474];
  @apply text-base;
  @apply mb-2;
  font-family: var(--font-imb-plex-sans);
  font-weight: 700;
}

.student-faq__title {
  @apply text-[#007474];
  @apply text-3xl;
  font-family: var(--font-imb-plex-sans);
  font-weight: 700;
}

.student-faq__item {
  @apply bg-white;
  @apply rounded-lg;
  @apply shadow-sm;
  @apply border;
  @apply border-[#007474];
  @apply border-opacity-20;
}

.student-faq__button {
  @apply w-full;
  @apply flex;
  @apply items-center;
  @apply justify-between;
  @apply px-6;
  @apply py-4;
  @apply text-left;
  @apply text-[#007474];
  @apply hover:text-[#006060];
}

.student-faq__number {
  @apply text-[#007474];
  @apply font-medium;
  @apply mr-2;
}

.student-faq__question {
  @apply flex-grow;
  @apply text-[#007474];
  @apply font-medium;
  font-family: var(--font-imb-plex-sans);
  font-weight: 800;
}

.student-faq__icon {
  @apply ml-4;
  @apply text-[#007474];
  @apply transition-transform;
  @apply duration-200;
  @apply w-5;
  @apply h-5;
}

.student-faq__icon--open {
  @apply transform;
  @apply rotate-180;
}

.student-faq__answer {
  @apply max-h-0;
  @apply overflow-hidden;
  @apply transition-all;
  @apply duration-200;
  @apply ease-in-out;
  @apply px-6;
  @apply text-[#1a535c];
  font-family: var(--font-imb-plex-sans);
  font-weight: 300;
}

.student-faq__answer--open {
  @apply max-h-96;
  @apply pb-4;
}